@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f5f8fa;
    font-size: 1rem;
    color: #425483;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    color: #172B4D;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c7d2fe;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5b4fc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

h6 {
    font-size: 12px;
    font-weight: 500;
}

button,
[type=button],
[type=reset],
[type=submit] {
    color: #3b82f6;
}

.btn.btn-primary, button.btn-primary,
[type=button].btn-primary,
[type=reset].btn-primary,
[type=submit].btn-primary {
    background-color: #3b82f6 !important;
    color: #ffffff;
}
.btn.btn-primary:hover, button.btn-primary:hover,
[type=button].btn-primary:hover,
[type=reset].btn-primary:hover,
[type=submit].btn-primary:hover {
    background-color: #2a70e3 !important;
}
.btn.btn-outline-primary, button.btn-outline-primary,
[type=button].btn-outline-primary,
[type=reset].btn-outline-primary,
[type=submit].btn-outline-primary {
    border-color: #3b82f6 !important;
    color: #3b82f6;
}
.btn.btn-outline-primary:hover, button.btn-outline-primary:hover,
[type=button].btn-outline-primary:hover,
[type=reset].btn-outline-primary:hover,
[type=submit].btn-outline-primary:hover {
    background-color: #3b82f6 !important;
    color: #ffffff;
}
.btn.btn-success, button.btn-success,
[type=button].btn-success,
[type=reset].btn-success,
[type=submit].btn-success {
    background-color: #16a34a !important;
    color: #ffffff;
}
.btn.btn-success:hover, button.btn-success:hover,
[type=button].btn-success:hover,
[type=reset].btn-success:hover,
[type=submit].btn-success:hover {
    background-color: #166534 !important;
}
.btn.btn-outline-success, button.btn-outline-success,
[type=button].btn-outline-success,
[type=reset].btn-outline-success,
[type=submit].btn-outline-success {
    border-color: #16a34a !important;
    color: #16a34a;
}
.btn.btn-outline-success:hover, button.btn-outline-success:hover,
[type=button].btn-outline-success:hover,
[type=reset].btn-outline-success:hover,
[type=submit].btn-outline-success:hover {
    background-color: #16a34a !important;
    color: #ffffff;
}
.btn.btn-danger, button.btn-danger,
[type=button].btn-danger,
[type=reset].btn-danger,
[type=submit].btn-danger {
    background-color: #dc2626 !important;
    color: #ffffff;
}
.btn.btn-danger:hover, button.btn-danger:hover,
[type=button].btn-danger:hover,
[type=reset].btn-danger:hover,
[type=submit].btn-danger:hover {
    background-color: #991b1b !important;
}
.btn.btn-warning, button.btn-warning,
[type=button].btn-warning,
[type=reset].btn-warning,
[type=submit].btn-warning {
    background-color: #ca8a04 !important;
    color: #ffffff;
}
.btn.btn-warning:hover, button.btn-warning:hover,
[type=button].btn-warning:hover,
[type=reset].btn-warning:hover,
[type=submit].btn-warning:hover {
    background-color: #854d0e !important;
}

button[type=submit].btn {
    position: relative;
}
button[type=submit].btn .spinner-border {
    position: absolute;
    top: calc(50% - 0.6rem);
    left: calc(50% - 0.6rem);
    width: 1.2rem;
    height: 1.2rem;
    visibility: hidden;
}
button[type=submit].btn.submitted span {
    visibility: hidden;
}
button[type=submit].btn.submitted .spinner-border {
    visibility: visible;
}

button[type=submit].btn.submitted span {
    visibility: hidden;
}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px -10px #4c577d2e;
}
.box .box-header {
    padding: 10px 15px;
    min-height: 45px;
    border-bottom: 1px solid #f1f5f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .box-header .box-action {
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.box .box-header .box-action .search {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}
.box .box-header .box-action .search .search-form {
    display: none;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}
.box .box-header .box-action .search .search-form .search-group .form-control, .box .box-header .box-action .search .search-form .search-group .form-select {
    height: 32px;
}
.box .box-header .box-action .search .search-form .search-group .dp__input {
    height: 32px;
    font-size: 14px;
}
.box .box-header .box-action .search .search-form .search-group input[type=search] {
    background-color: #f8fafc;
}
.box .box-header .box-action .search.open-search .search-form {
    display: flex;
}
.box .box-body {
    padding: 10px 15px 15px;
    overflow-y: auto;
}
.box .box-footer {
    border-top: 1px solid #e2e8f0;
    padding: 10px 15px 15px;
}

table {
    width: 100%;
}

.table {
    width: 100%;
    overflow: hidden;
}
.table thead {
    border: none !important;
}
.table thead tr {
    background-color: #ebf1f8;
}
.table tr {
    border: none;
}
.table thead tr th,
.table tr th{
    font-weight: 500;
    color: #1f2937;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    border-bottom: none !important;
}
.table tbody {
    border: none !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
}
.table tbody tr {
    position: relative;
    border-bottom-color: #e2e8f0;
}
.table tbody tr::after {
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    background-color: #3b82f6;
    height: 100%;
    content: "";
}
.table tbody tr td {
    vertical-align: middle;
    padding: 10px;
}
.table tbody tr td .action {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    font-size: 1rem;
}
.table tbody tr td .action a {
    padding: 3px 3px;
    line-height: 0;
    border-radius: 3px;
}
.table tbody tr td .action a:hover {
    background-color: #3b82f6;
    color: #ffffff;
}
.table tbody tr:hover {
    background-color: #eef2ff;
    cursor: pointer;
}
.table tbody tr:hover::after {
    left: 0;
    content: "";
    transition: 300ms;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

.form-control:focus {
    box-shadow: none;
    border-color: #a5b4fc;
}

.form-select:focus {
    box-shadow: none;
    border-color: #a5b4fc;
}

.form-control::-webkit-scrollbar {
    width: 3px;
}

.form-section {
    padding: 10px;
    margin-bottom: 30px;
}
.form-section h5 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 18px;
    font-weight: 500;
}

.widget {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -10px #4c577dab;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    grid-gap: 15px;
    border-bottom: 3px solid #3b82f6;
}
@media screen and (max-width: 768px) {
    .widget {
        margin-bottom: 15px;
    }
}
.widget .widget-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.widget .widget-header .title {
    color: #4b5563;
    padding-top: 5px;
    font-weight: 400;
}
.widget .widget-header span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    background-color: #f3f4f6;
    line-height: normal;
    color: #4b5563;
    padding: 2px 5px;
    border-radius: 30px;
}
.widget .widget-body {
    width: 100%;
    text-align: center;
}
.widget .widget-body h3 {
    color: #4b5563;
    font-size: 20px;
    font-weight: 600;
}
.widget .widget-body p {
    font-size: 12px;
    color: #9ca3af;
}
.widget.widget-primary {
    border-bottom-color: #3b82f6;
}
.widget.widget-primary .widget-header .title {
    color: #3b82f6;
}
.widget.widget-primary .widget-header span {
    background-color: #e0e7ff;
    color: #3b82f6;
}
.widget.widget-primary .widget-body h3 {
    color: #3b82f6;
}
.widget.widget-primary .widget-body p {
    color: #818cf8;
}
.widget.widget-success {
    border-bottom-color: #22c55e;
}
.widget.widget-success .widget-header .title {
    color: #16a34a;
}
.widget.widget-success .widget-header span {
    background-color: #dcfce7;
    color: #16a34a;
}
.widget.widget-success .widget-body h3 {
    color: #16a34a;
}
.widget.widget-success .widget-body p {
    color: #4ade80;
}
.widget.widget-danger {
    border-bottom-color: #ef4444;
}
.widget.widget-danger .widget-header .title {
    color: #dc2626;
}
.widget.widget-danger .widget-header span {
    background-color: #fee2e2;
    color: #dc2626;
}
.widget.widget-danger .widget-body h3 {
    color: #dc2626;
}
.widget.widget-danger .widget-body p {
    color: #f87171;
}
.widget.widget-warning {
    border-bottom-color: #eab308;
}
.widget.widget-warning .widget-header .title {
    color: #ca8a04;
}
.widget.widget-warning .widget-header span {
    background-color: #fef9c3;
    color: #ca8a04;
}
.widget.widget-warning .widget-body h3 {
    color: #ca8a04;
}
.widget.widget-warning .widget-body p {
    color: #facc15;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
}
.pagination ul .page-item {
    display: flex;
    grid-gap: 5px;
    padding: 0;
}
.pagination ul .page-item .page-link {
    border: 1px solid #3b82f6;
    background: transparent;
    padding: 3px 8px 1px 8px;
    border-radius: 3px;
}
.pagination ul .page-item .page-link:hover {
    background: #d1d5db;
}
.pagination ul .page-item .page-link:focus {
    box-shadow: none;
}
.pagination ul .page-item .page-link .active {
    background: #3b82f6;
    color: #ffffff;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.wrapper .sidebar {
    background-color: #FFFFFF;
    width: 269px;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #f5f8fa;
}
.wrapper .sidebar .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: red;
    font-size: 20px;
    display: none;
}
.wrapper .main-content {
    background-color: #f5f8fa;
    width: calc(100% - 270px);
    height: 100vh;
    overflow-y: auto;
}
@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .wrapper .sidebar {
        position: fixed;
        width: 100%;
        top: 50%;
        left: 0;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }
    .wrapper .sidebar .close {
        display: block;
    }
    .wrapper.rs-open-sidebar .sidebar {
        top: 0;
        opacity: 1;
        visibility: visible;
        transition: 300ms;
    }
    .wrapper .main-content {
        width: 100%;
    }
}

.main-content .main-header {
    background-color: #ffffff;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}
.main-content .main-header .page-control {
    display: flex;
    align-items: center;
    line-height: 0;
}
.main-content .main-header .page-control .app-icon {
    cursor: pointer;
    display: none;
}
.main-content .main-header .page-control .app-icon .bx {
    margin-right: 10px;
    font-size: 24px;
    color: #3b82f6;
}
.main-content .main-header .page-control h5 {
    font-weight: 500;
}
.main-content .content {
    padding: 15px;
}
@media screen and (max-width: 768px) {
    .main-content .main-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
    }
    .main-content .main-header .page-control .app-icon {
        display: block;
    }
    .main-content .content {
        margin-top: 50px;
    }
}

.full-screen .wrapper .sidebar {
    display: none;
}
.full-screen .wrapper .main-content {
    width: 100%;
}
.full-screen .wrapper .main-content .main-header {
    display: none;
}
.full-screen .wrapper .main-content .content {
    padding: 0;
}

.sidebar {
    padding: 15px 10px;
    position: relative;
    /* width */
}
.sidebar .logo {
    text-align: center;
    margin-bottom: 15px;
}
.sidebar .logo img {
    width: 85px;
    margin: 0 auto 20px auto;
}
.sidebar .logo h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #475569;
    font-weight: 700;
}
.sidebar .user {
    margin-bottom: 15px;
    background-color: #3b82f6;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.sidebar .user .user-img img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.sidebar .user .user-info h3 {
    font-size: 18px;
    font-weight: 500;
}
.sidebar .user .user-info p {
    font-size: 14px;
    font-weight: 300;
}
.sidebar::-webkit-scrollbar {
    width: 0;
}

.navigations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}
@media screen and (max-width: 768px) {
    .navigations {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .navigations {
        grid-template-columns: repeat(2, 1fr);
    }
}
.navigations .navigation-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.navigations .navigation-item a {
    transition: 300ms;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}
.navigations .navigation-item a i.bx {
    font-size: 32px;
    margin-bottom: 5px;
}

.navigations .navigation-item a img {
    width: 24px;
}

.navigations .navigation-item a span {
    font-weight: 400;
}
.navigations .navigation-item .navigation-content {
    position: fixed;
    top: 0;
    left: -268px;
    width: 268px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 200ms;
    cursor: default;
    overflow-y: auto;
}
.navigations .navigation-item .navigation-content::-webkit-scrollbar {
    width: 2px;
}
.navigations .navigation-item .navigation-content .close-bar {
    color: #dc3545;
    font-size: 1rem;
    position: absolute;
    top: 15px;
    right: 10px;
    background: #dc354529;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigations .navigation-item .navigation-content .close-bar:active {
    background-color: #dc3545;
    color: #ffffff;
    transition: 500ms;
}

.navigations .navigation-item .navigation-content .navigation-content-body hr {
    margin: 12px 0;
}

.navigations .navigation-item .navigation-content .navigation-content-header {
    margin-bottom: 30px;
    text-align: left;
    padding: 5px 0;
}
.navigations .navigation-item .navigation-content .navigation-content-body {
    text-align: left;
}
.navigations .navigation-item .navigation-content .navigation-content-body h5 {
    margin-top: 15px;
    font-weight: 500;
    color: #4b5563;
    font-size: 1rem;
    border-bottom: 1px solid #c7d2fe;
    padding: 3px 5px;
}
.navigations .navigation-item .navigation-content .navigation-content-body ul {
    margin-top: 10px;
}
.navigations .navigation-item .navigation-content .navigation-content-body ul li {
    margin: 5px 0;
}
.navigations .navigation-item .navigation-content .navigation-content-body ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 14px;
    padding: 5px 0;
}
.navigations .navigation-item .navigation-content .navigation-content-body ul li a i.bx {
    margin: 0;
    margin-right: 5px;
    font-size: 20px;
    color: #94a3b8;
    transition: 300ms;
}
.navigations .navigation-item .navigation-content .navigation-content-body ul li a.router-link-active {
    background-color: #3B82F626;
    border-radius: 5px;
    color: #3b82f6;
    cursor: pointer;
}
.navigations .navigation-item .navigation-content .navigation-content-body ul li a.router-link-active i.bx {
    color: #3b82f6;
    margin-right: 10px;
}
.navigations .navigation-item:hover {
    background-color: rgba(59, 130, 246, 0.15);
    cursor: pointer;
    transition: 300ms;
}
.navigations .navigation-item:hover a {
    color: #3b82f6;
    transition: 300ms;
}
.navigations .navigation-item:hover a i.bx {
    color: #3b82f6;
}
.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li a {
    color: inherit;
}
.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li a.router-link-active {
    color: #3b82f6;
}
.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover {
    background-color: #3B82F626;
    border-radius: 5px;
}
.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover a {
    color: #3b82f6;
}
.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover a.router-link-active {
    color: #3b82f6;
}
.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover a i.bx {
    color: #3b82f6;
    margin-right: 10px;
}
.navigations .navigation-item.open .navigation-content {
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: 300ms;
}
@media screen and (max-width: 768px) {
    .navigations .navigation-item.open .navigation-content {
        width: 100%;
    }
}

.auth-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.auth-wrap .auth {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.auth-wrap .auth .auth-box {
    width: 350px;
    margin: 0 100px;
}
.auth-wrap .auth .auth-box .auth-header {
    text-align: center;
    margin-bottom: 30px;
}
.auth-wrap .auth .auth-box .auth-header .logo {
    margin-bottom: 15px;
}
.auth-wrap .auth .auth-box .auth-header .logo img {
    width: 100px;
}
.auth-wrap .auth .auth-box .auth-header h1 {
    font-weight: 600;
}
.auth-wrap .auth .auth-box .auth-body .form-group label {
    margin-bottom: 5px;
}
.auth-wrap .auth .auth-box .auth-body .form-group .form-control {
    height: 45px;
    border-radius: 8px;
}
.auth-wrap .auth .auth-box .auth-body .form-group.form-submit-group {
    margin-top: 25px;
}
.auth-wrap .auth .auth-box .auth-body .form-group.form-submit-group .btn {
    width: 100%;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.auth-wrap .auth .auth-box .auth-body .form-group.form-submit-group .btn.btn-primary {
    background-color: #3b82f6;
    border-color: #2368d8;
}
.auth-wrap .auth .auth-box .auth-body .form-group.form-submit-group .btn:hover.btn-primary {
    background-color: #2368d8;
}
.auth-wrap .auth-content {
    justify-content: flex-start;
    width: 50%;
    background-color: #060B4D;
    height: 100%;
}
.auth-wrap .auth-content .content {
    margin: 0 100px;
}
.auth-wrap .auth-content .content h1 {
    color: #e2e8f0;
    font-size: 36px;
}
.auth-wrap .auth-content .content h5 {
    margin-top: 15px;
    color: #e0e7ff;
    font-size: 20px;
}
.auth-wrap .auth-content .content img {
    margin-top: 30px;
    width: 75%;
}
@media screen and (max-width: 768px) {
    .auth-wrap {
        flex-wrap: wrap;
    }
    .auth-wrap .auth {
        width: 100%;
    }
    .auth-wrap .auth .auth-box {
        width: 80%;
        margin: 0 auto;
    }
    .auth-wrap .auth .auth-box .auth-header h1 {
        font-size: 1.5rem;
    }
    .auth-wrap .auth-content {
        display: none;
    }
}

.profile .user-box {
    text-align: center;
    background-color: #eef2ff;
    padding: 15px;
}
.profile .user-box img {
    width: 75px;
    margin: 10px auto;
}
.profile .user-box .btn {
    width: 100%;
    margin: 5px 0;
}

.member.member-show .member-img img {
    margin: 0 auto;
}
.member.member-show .member-info h3 {
    color: #3b82f6;
}
.member.member-show .member-info a {
    color: #475569;
}
.member.member-show .member-info a:hover {
    color: #172B4D;
}
.member.member-show .member-nav ul li {
    margin-bottom: 5px;
}
.member.member-show .member-nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f5f9;
    padding: 8px 10px;
    border-radius: 5px;
    color: #334155;
}
.member.member-show .member-nav ul li a i.bx {
    font-size: 18px;
}
.member.member-show .member-nav ul li a:hover, .member.member-show .member-nav ul li a.router-link-active {
    color: #ffffff;
    background-color: #3b82f6;
    transition: 300ms;
}
.member.member-show .member-account table {
    font-size: 14px;
}
.member.member-show .member-account table tr {
    border-bottom: 1px dashed #e0e7ff;
}
.member.member-show .member-account table tr td {
    padding: 5px;
    vertical-align: top;
    font-weight: 500;
    color: #475569;
}
.member.member-show .member-account table tr td:first-child {
    width: 45%;
    font-weight: 400;
    color: #64748b;
}
.member.member-show h5 {
    margin-bottom: 5px;
    font-weight: 500;
    color: #172B4D;
}

.member-details .member-detail {
    margin-bottom: 30px;
}
.member-details .member-detail h3 {
    color: #475569;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #e0e7ff;
}
.member-details .member-detail .member-infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
@media screen and (max-width: 768px) {
    .member-details .member-detail .member-infos {
        grid-template-columns: repeat(2, 1fr);
    }
}
.member-details .member-detail .member-infos .member-info p {
    color: #475569;
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 3px;
}
.member-details .member-detail .member-infos .member-info h5 {
    color: #172B4D;
    font-weight: 400;
    font-size: 1rem;
}

.member-select {
    position: relative;
}
.member-select .member-input {
    position: relative;
}
.member-select .member-input .form-control {
    cursor: pointer;
}
.member-select .member-input .select-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #64748b;
}
.member-select .member-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #f8fafc;
    border: 1px solid #e2e8f0;
    display: none;
}
.member-select .member-list .member-search {
    position: relative;
}
.member-select .member-list .member-search .form-control {
    border: none;
    border-bottom: 1px solid #e2e8f0;
    border-radius: 0;
}
.member-select .member-list .member-search .list-close {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 20px;
    color: #ef4444;
    line-height: 0;
    cursor: pointer;
}
.member-select .member-list .member-search .list-close:active {
    background-color: #ef4444;
    color: #ffffff;
}
.member-select .member-list .members {
    max-height: 300px;
    overflow-y: auto;
    padding: 5px 0;
}
.member-select .member-list .members .member {
    font-size: 14px;
    cursor: pointer;
    padding: 7px 5px;
    border-bottom: 1px dashed #e2e8f0;
}
.member-select .member-list .members .member:hover {
    background-color: #e0e7ff;
    transition: 200ms;
}
.member-select .member-list .members::-webkit-scrollbar {
    width: 5px;
}
.member-select.open .member-list {
    display: block;
}

.search-container {
    cursor: default;
}
.search-container .btn.btn-search {
    border: 1px solid #cbd5e1;
    background-color: #f9fafb;
    font-weight: 600;
    color: #3b82f6;
}
.search-container .btn.btn-search:focus {
    box-shadow: none;
}
.search-container .btn.btn-search:active {
    background-color: #f3f4f6;
}
.search-container .search-form {
    margin-bottom: 15px;
}
.search-container .search-form .form-group .input-group {
    border-bottom: 1px solid #e2e8f0;
}
.search-container .search-form .form-group .input-group .input-group-text {
    background: none;
    border: none;
}
.search-container .search-form .form-group .input-group .form-control {
    height: 50px;
    border: none;
    font-size: 1rem;
}
.search-container .search-result {
    max-height: 70vh;
    overflow-y: auto;
    text-align: left;
}
.search-container .search-result .rs-count {
    margin-bottom: 10px;
}
.search-container .search-result .search-items .search-item {
    margin-bottom: 10px;
    padding: 5px;
}
.search-container .search-result .search-items .search-item a {
    display: flex;
    width: 100%;
}
.search-container .search-result .search-items .search-item a .search-img img {
    width: 50px;
    border-radius: 5px;
}
.search-container .search-result .search-items .search-item a .search-content {
    margin-left: 10px;
}
.search-container .search-result .search-items .search-item a .search-content h5 {
    color: #1E293B;
    font-size: 1rem;
    font-weight: 500;
}
.search-container .search-result .search-items .search-item a .search-content p {
    color: #475569;
    font-size: 14px;
}
.search-container .search-result .search-items .search-item:hover {
    background-color: #f9fafb;
}
.search-container .search-result .search-items .search-item:hover a h5 {
    color: #3b82f6;
}
.search-container .search-result .search-items .search-item:hover a p {
    color: #1E293B;
}/*# sourceMappingURL=style.css.map */

.page-link .sr-only {
    display: none;
}

.page-item.pagination-page-nav.active a {
    color: #ffffff;
    background: #3b82f6;
}

table td .application-member {
    display: flex;
    column-gap: 7px;
    align-items: center;
    justify-content: flex-start;
}

table td  .application-member img {
    width: 24px;
    background: #dbdbdb;
    border: none;
    height: 30px;
}

.dps-application-member {
    text-align: center;
    margin-bottom: 50px;
}

.dps-application-member img {
    margin: 10px auto;
}
